<StackLayout class="profile-panel appBackgroundColor">
        <AbsoluteLayout height="80">
                <Button   left="10" top="10" width="50" height="50" class="back-button" text="<" (tap)="goBack()"></Button>
                <Label left="70" top="25" class="heading"  text="Diagnoses"></Label>
        </AbsoluteLayout>
        <CardView class="cardStyleProfile" margin="15" elevation="40" radius="30">
                <StackLayout>
                        <StackLayout>
                                <ListView height="418" [items]="userDiagnoses">
                                        <ng-template let-diagnosis="item">
                                                <AbsoluteLayout height="100" width="370">
                                                        <!-- I think this works may need the index notation if it doesn't -->
                                                        <Switch checked="{{diagnosis.diagnosed}}" (checkedChange)="onCheckedChange(diagnosis.name,$event)" class="m-15"></Switch>
                                                        <Label textwrap="true" left="50" top="10" width="260" class= "diagnosisHeading" text="{{diagnosis.name}}"></Label>
                                                </AbsoluteLayout>
                                        </ng-template>
                                </ListView>
                        </StackLayout>
                </StackLayout>
        </CardView>
        <Button  height = "50"   class="saveButton" text="Save Changes" [nsRouterLink]="[]"></Button>
</StackLayout>