.saveButton{
margin: 10;
background-color: rgb(133, 221, 245);
border-radius:10; 
}

.heading{
    margin-top: 10;
    margin-bottom: 20;
    margin-left: 0;
    text-align: center;
    /* vertical-align: middle; */
    color: black;
    font-size: 26px;
}
.space{
    font-size:8;
}
.button{
    border-radius:30; 
    font-size: 13;
    font-weight: bold;
    background-color: rgb(133, 221, 245)
}
.journal{
    color: white;
    margin-left: 20;
    font-weight: bold;
    font-size: 16;
}
.journal1{
    color: white;
    margin-left: 20;
    font-weight: bold;
    font-size: 16;
    margin-top: -2;
    margin-bottom:20;
}
.journal2{
    color: white;
    margin-left: 20;
    margin-top:20;
    /* margin-bottom:-35; */
    font-weight: bold;
    font-size: 16;
}
.journal3{
    color: white;
    margin-left: 20;
    font-weight: bold;
    font-size: 16;
    margin-top: -8;
    margin-bottom:20;
}
.symptom{
    color: black;
    margin-left: 15;
    margin-top: 10;
    margin-bottom: 10;
    font-size: 14;
}
.slider{
    color: rgb(39, 94, 143);
    background-color: rgb(39, 94, 143);
}
.no{
    font-size:14;
    color: black;
    margin-top:8;
    margin-left:10;
    margin-right:5;

}
.yes{
    font-size:14;
    color: black;
    margin-top:8;
    margin-right:5;
}