
<StackLayout class="home-panel appBackgroundColor"  [class.dialogOpen]="dialogOpen"> 
    <AbsoluteLayout height = "900" class="dialog-wrapper">
        <StackLayout class="dialog">
                <AbsoluteLayout height="60">
                    <Button   left="10" top="10" width="50" height="50" class="back-button" text="<" (tap)="closeDialog()"></Button>
                </AbsoluteLayout>
            <Label class="popUpTitle" textWrap="true" text="Select which symptoms you would like to track below:"></Label>
            <AbsoluteLayout>
            <Cardview radius="30" left="10" width="270" margin="10">
                    <TextField  width="260" id="lastName" class="textbox" hint="Enter a new symptom here. "[text]="newTrackedSymptom" (returnPress)="updateNewSymptomValue($event)" (blur)="updateNewSymptomValue($event)"></TextField>
            </Cardview>
            <Button width="45" height="45" top="10" left="298" text="+" (tap)="saveNewSymptomValue()" class="plus"></Button>
            </AbsoluteLayout>
            <AbsoluteLayout height = "900" class="dialog-wrapper">
            <StackLayout>
            <Label class="popUpTitle2" textWrap="true" text="Remove symptoms below:"></Label>
            <CardView left="5" class="cardStyleProfile"  height = "320" width="325" margin="15" elevation="40" radius="40">
                <Scrollview>
                <StackLayout>
                    <StackLayout>
                        <ListView height="800" [items]="journalTrackedSymptoms">
                            <ng-template let-symptom="item">
                                    <AbsoluteLayout height="40" width="370">
                                            <Button left="10" top="6" width="35" height="35" text="x" class="button2" (tap)="onTrackSymptomChange(symptom, $event)" ></Button>
                                            <Label left="50" top="12" textwrap="true" width="260" class= "diagnosisHeading" text="{{symptom}}"></Label> 
                                    </AbsoluteLayout>
                            </ng-template>
                        </ListView>
                    </StackLayout>  
                </StackLayout>
            </Scrollview>
            </CardView>
            </StackLayout>
        </AbsoluteLayout>
        </StackLayout>
    </AbsoluteLayout>

    <Label class="journal2"  text="How many hours of sleep did you get last night?" ></Label> 

    <CardView class="cardStyleProfile" height ="45" width="330" elevation="40" radius="40">
        <AbsoluteLayout width="400" height="45">
            <Slider left="10" top="-5" width="250" class="slider" minValue="0" maxValue="16" value="{{todaysJournalEntry.hoursSleep}}" (valueChange)="sleepValueChange($event)"></Slider> 
            <Label  left ="270" top="3" class="symptom" text="{{todaysJournalEntry.hoursSleep}}"></Label>
        </AbsoluteLayout>
    </CardView>

    <Label class="space" text=""></Label>
    <Label class="space" text=""></Label>

    <AbsoluteLayout height="50" width="420">
        <Label class="journal1" top="0" width="300" text="Did you exercise today?" ></Label>
        <CardView left="225" class="cardStyleProfile"  height = "40" width="120" elevation="40" radius="40">
            <StackLayout orientation="horizontal">
                <Label class="no" text = " No"></Label>
                <Switch  checked="{{todaysJournalEntry.exercise}}" (checkedChange)="onExerciseChange($event)"></Switch>
                <Label class="yes" text = "Yes"></Label>
            </StackLayout>
        </CardView>
    </AbsoluteLayout>

    <Label class="space" text=""></Label>

    <AbsoluteLayout height="50" width="420">
        <Label class="journal3" top="10" width="300" text="Did you meditate today?" ></Label>
        <CardView left="225" class="cardStyleProfile"  height = "40" width="120" elevation="40" radius="40">
            <StackLayout orientation="horizontal">
                <Label class="no" text = " No"></Label>
                <Switch  checked="{{todaysJournalEntry.meditate}}" (checkedChange)="onMeditateChange($event)"></Switch>
                <Label class="yes" text = "Yes"></Label>
            </StackLayout>
        </CardView>
    </AbsoluteLayout>

    <Label class="space" text=""></Label>

    <AbsoluteLayout width="400" height="40">
        <Label left="0" top="10" class="journal"  text="Rate the following symptoms:" ></Label>
        <Button  height = "40" width="60" color= "#23495F" left="290" top="0" class="button" text="Edit" (tap)="showDialog()"></Button>
    </AbsoluteLayout>

<CardView class="cardStyleProfile" margin="10" elevation="40" radius="40">
    <StackLayout>
        <Scrollview height = "200">
        <ListView [items]="journalTrackedSymptoms">
            <ng-template let-symptomName="item"> 
                <AbsoluteLayout width="350" height="210">
                    <Label left="0" top="5" width="125" textwrap="true" class="symptom" text="{{symptomName}}"></Label>
                    <Slider left="120" top="5" width="180" class="slider" minValue="0" maxValue="10" value="{{todaysJournalEntry.symptoms[symptomName]}}" (valueChange)="valueChange(symptomName, $event)"></Slider>
                    <Label  left="300" top="13" width="90" class="symptom" text="{{todaysJournalEntry.symptoms[symptomName]}}"></Label>                                    
                </AbsoluteLayout>
            </ng-template>
        </ListView>
    </Scrollview>
</StackLayout>
</CardView>
 <!-- TODO: put real action on button press -->
<Button  height = "50"   class="saveButton" text="Save Changes" (tap)="saveToDatabase()"></Button>  -->
</StackLayout> 