.back-button{
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: rgb(133, 221, 245);
}
.heading{
    margin-top: 10;
    margin-bottom: 0;
    margin-left: 50;
    color: white;
    font-size: 26px;
    font-weight: bold;
}
.treatments{
    color:black;
    font-size:13;
    margin-top: 6;
    margin-bottom: 6;
}
.saveButton{
    margin: 10;
    background-color: rgb(133, 221, 245);
    border-radius:10; 
    }
.treatmentHeading{
    color: black;
    margin-left: 15;
    margin-top: 10;
    margin-bottom: 10;
    font-size: 14;
}
