
<!-- <Label class="user-name" verticalAlignment="top" text="hi"> </Label> -->
<TabView androidTabsPosition="top" selectedIndex="0" (selectedIndexChanged)="onSelectedIndexChanged($event)">
        <page-router-outlet *tabItem="{title: 'Home'}" name="homeTab" actionBarVisibility="never">
        </page-router-outlet>
        <page-router-outlet *tabItem="{title: 'Journal'}" name="journalTab" actionBarVisibility="never">
        </page-router-outlet>
        <page-router-outlet *tabItem="{title: 'Profile'}" name="profileTab" actionBarVisibility="never">
        </page-router-outlet>
</TabView>