<StackLayout class="profile-panel appBackgroundColor">
    <CardView class="cardStyleProfile" margin="15" elevation="40" radius="30" >
    <StackLayout>
        <StackLayout orientation="horizontal">
            <Button   width="50" height="50" class="back-button" text="<" (tap)="goBack()"></Button>
            <Label class="heading"  text="Edit Information"></Label>
        </StackLayout>
    <Label class="space" text=""></Label>
    <Label class="edit-info-heading"  text="Name" ></Label>
        <DockLayout stretchLastChild="false">
            <TextField [text]="currentUser.name" (returnPress)="saveNameValue($event)" (blur)="saveNameValue($event)"></TextField>
        </DockLayout>
    <Label class="edit-info-heading"  text="Age" ></Label>
        <DockLayout stretchLastChild="false">
             <TextField [text]="currentUser.age" (returnPress)="saveAgeValue($event)" (blur)="saveAgeValue($event)"></TextField>
        </DockLayout>
    <Label class="edit-info-heading"  text="Sex" ></Label>
        <DockLayout stretchLastChild="false">
                <!-- hint="Enter text..." -->
            <TextField [text]="currentUser.sex" (returnPress)="saveSexValue($event)" (blur)="saveSexValue($event)" ></TextField>
        </DockLayout>
    <Label class="space" text=""></Label>
    <Label class="More"  text="More" ></Label>
    <DockLayout stretchLastChild="false" margin="5">
            <Button dock="left"  width="400" height="50" class="button" backgroundColor="#adadad" text="Treatments                                                                                      >" [nsRouterLink]="['./treatments']"></Button>
    </DockLayout>
    <DockLayout stretchLastChild="false" margin="5">
            <Button dock="left"  width="400" height="50" class="button" backgroundColor="#adadad" text="Diagnoses                                                                                       >" [nsRouterLink]="['./diagnoses']"></Button>
    </DockLayout>
</StackLayout>
</CardView>
</StackLayout>