.saveButton{
    margin: 10;
    background-color: rgb(133, 221, 245);
    border-radius:10; 
    }
    
.back-button{
    font-size: 18px;
    font-weight: bold;
    color: black;
    /* background-color: rgb(173, 173, 173); */
    background-color: rgb(133, 221, 245);
}
.button{
    width: 500px;
    max-width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: white;
    outline-color: black;
    border-radius: 10;
    /* margin-top: -5;
    margin-bottom: -5; */
}
.edit-info-heading{
    margin-top: -5;
    margin-left: 10;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.heading{
    margin-top: 10;
    margin-bottom: 0;
    margin-left: 50;
    color: white;
    font-size: 26px;
    font-weight: bold;
}
.More{
    margin-top: -3;
    margin-bottom:0;
    margin-left: 10;
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.space{
    font-size: 24px;
}
.space1{
    font-size: 18px;
}
.cardStyleProfile{
    margin-left: 30;
}

#sex{
    font-size:14;
}
#age{
    font-size:14;
}
#name{
    font-size:14;
}