<StackLayout class="home-panel">
    <DockLayout stretchLastChild="false" margin="10">
        <Button dock="left"  width="80" class="back-button" text="<" (tap)="goBack()"></Button>
    </DockLayout>
    <Label class="edit-info-heading"  text="Name" ></Label>
    <Label class="edit-info-heading"  text="Age" ></Label>
    <Label class="edit-info-heading"  text="Sex" ></Label>
    <Label class="edit-info-heading"  text="Email" ></Label>
    <Label class="edit-info-heading"  text="More" ></Label>
    <Button class="button" text="Treatments" [nsRouterLink]="['./treatments']"></Button>
    <Button class="button" text="Diagnoses" [nsRouterLink]="['./diagnoses']"></Button>
</StackLayout>