.back-button{
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: rgb(173, 173, 173);
}
.button{
    width: 500px;
    max-width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: white;
    outline-color: black;
}
.edit-info-heading{
    margin-top: 5;
    margin-left: 15;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.heading{
    margin-top: 10;
    margin-bottom: 0;
    margin-left: 50;
    color: black;
    font-size: 26px;
}
.More{
    margin-top: 5;
    margin-bottom: 2;
    margin-left: 15;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.space{
    font-size: 35px;
}
.cardStyleProfile{
    margin-left: 30;
}

.textField{
    margin-right: 20px;
}