 .user-name{
    color: black;
    font-size: 32px;
    margin-left: 20;
    margin-top: 25;
    margin-bottom: 5;
    text-decoration: underline;
    font-weight: bold;
}

 .user-info{
    margin-top: 5;
    margin-bottom: 2;
    color: black;
    font-size: 14px;
}

 .user-info2{
    margin-top: 5;
    margin-bottom: 2;
    margin-left: 20;
    color: black;
    font-size: 14px;
}

 .user-info-heading{
    margin-top: 5;
    margin-bottom: 2;
    margin-left: 20;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

 .diagnoses-treatments{
    text-decoration: underline;
    margin-top: 15;
    margin-bottom: 2;
    margin-left: 20;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.space{
    font-size: 10px;
}
.space2{
    font-size: 8px;
}
.space3{
    font-size: 12px;
}
.edit-button{
    width: 600px;
    border-radius: 10;
    font-size: 14px;
    font-weight: bold;
    color: black;
    background-color: rgb(133, 221, 245);
    float: right;
    position: relative;
}

.invisible{
    font-size: 0px;
    border-radius: 0px;
    border: 0px;
    margin: 0px;
}