<GridLayout class="page appBackgroundColor">
    <StackLayout class="home-panel1">
                <Label class="card-title" text="Significant Trends"></Label>
                <Button width="45" height="45" top="10" left="298" text="+" (tap)="updateTrends()" class="plus"></Button>
        <CardView class="cardStyleProfile" margin="3" elevation="40" radius="40">
            <StackLayout class="home-panel">
        <Scrollview height="100">
        <StackLayout>
                <AbsoluteLayout> 
                        <Image left="5" src="{{fatigueImage}}" height="40" width="40" class="image"> </Image>
                        <Label left="55" width="230" top="12" class="trendSymptom" textWrap="true" text="Fatigue"></Label>
                        <Label left="288" top="12" class="trendUpPercent" text="{{fatigueValue}}%"></Label>
                </AbsoluteLayout>
                <AbsoluteLayout> 
                        <Image left="5" src="{{feelingSadImage}}" height="40" width="40" class="image"> </Image>
                        <Label left="55" width="230" top="12" class="trendSymptom" textWrap="true" text="Feeling sad or down"></Label>
                        <Label left="288" top="12" class="trendDownPercent" text="{{feelingSadValue}}%"></Label>
                </AbsoluteLayout>
                <Label  class="space" text=""></Label>
        </StackLayout>
        </Scrollview>
            </StackLayout>
         
        </CardView>
        <!-- <Label  class="space1" text=""></Label> -->
        <Label class="card-title2" text="Weekly Overview - {{month}}"></Label>

        <CardView class="cardStyleProfile" margin="3" elevation="40" radius="40"> 
            <StackLayout class="home-panel1">
                <Scrollview height="225">
                <StackLayout>

                <RadCartesianChart tkExampleTitle tkToggleNavButton height="220" >
                        <CategoricalAxis tkCartesianHorizontalAxis lineThickness = "1" labelTextColor="#A2A0A0" labelMargin = "40"></CategoricalAxis>
                        <LinearAxis tkCartesianVerticalAxis MajorGridLinesVisibility="Visible" labelFormat="%.0f" labelTextColor="#A2A0A0" minimum="0" maximum="10" majorStep = "2" lineThickness = "1" labelMargin = "20" ></LinearAxis>
                        
                        
                        <!-- <ListView [items]="dataSeries"> -->
                                <!-- <ng-template let-symptomSeries="item">  -->
                                
                                <SplineSeries tkCartesianSeries legendTitle="{{series1Name}}" seriesName = "series1Name" [items]="series1Values" categoryProperty="day" valueProperty="num" > </SplineSeries>
                                <SplineSeries tkCartesianSeries legendTitle="{{series2Name}}" seriesName = "series2Name" [items]="series2Values" categoryProperty="day" valueProperty="num" > </SplineSeries>
                                <SplineSeries tkCartesianSeries legendTitle="{{series3Name}}" seriesName = "series3Name" [items]="series3Values" categoryProperty="day" valueProperty="num" > </SplineSeries>
                                <Palette tkCartesianPalette seriesName="series1Name"  fillColor="black" strokeColor="black">
                                        <PaletteEntry tkCartesianPaletteEntry></PaletteEntry>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="series2Name">
                                        <PaletteEntry tkCartesianPaletteEntry fillColor="lightgreen" strokeColor="lightgreen"></PaletteEntry>
                                </Palette>
                                <Palette tkCartesianPalette seriesName="series3Name">
                                        <PaletteEntry tkCartesianPaletteEntry fillColor="gray" strokeColor="gray"></PaletteEntry>
                                </Palette>
                                <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="true">  </RadCartesianChartGrid>
                        
                        <!-- <SplineSeries *ngIf="dataSeries[1] != null" tkCartesianSeries legendTitle="{{dataSeries[1].seriesName}}" seriesName = "dataSeries[1].seriesName" [items]="dataSeries[1].seriesValues" categoryProperty="day" valueProperty="num" >
                                        <Palette tkCartesianPalette>
                                                <PaletteEntry tkCartesianPaletteEntry></PaletteEntry>
                                        </Palette>
                        </SplineSeries>           
                        <SplineSeries *ngIf="dataSeries[2] != null" tkCartesianSeries legendTitle="{{dataSeries[2].seriesName}}" seriesName = "dataSeries[2].seriesName" [items]="dataSeries[2].seriesValues" categoryProperty="day" valueProperty="num" >
                                        <Palette tkCartesianPalette>
                                                <PaletteEntry tkCartesianPaletteEntry></PaletteEntry> 
                                        </Palette>
                        </SplineSeries>    -->
                        <RadLegendView tkCartesianLegend enableSelection=false ></RadLegendView>                             
                                                
                                <!-- </ng-template> -->
                        <!-- </ListView> -->
                    
                    
                    
                    <!-- <SplineSeries tkCartesianSeries legendTitle = "data2" selectionMode ="Series" seriesName = "data2" [items]="data2" categoryProperty="day" valueProperty="num">
                            <Palette tkCartesianPalette seriesName="data2">
                                    <PaletteEntry tkCartesianPaletteEntry fillColor="#56D9FE" strokeColor="#56D9FE"></PaletteEntry>
                            </Palette>
                    </SplineSeries> -->
                    

                        
                </RadCartesianChart>
                </StackLayout>
                </Scrollview>  
            </StackLayout>
        </CardView>
        <Label  class="space1" text=""></Label>

        <CardView class="cardStyleProfile" margin="3" elevation="40" radius="40">
            <StackLayout class="home-panel1">
                    <Label class="select" text="Select symptoms to plot above."></Label>
                        <StackLayout>
                                <Scrollview height = "250">
                                        <ListView  [items]="userTrackedSymptoms">
                                        <ng-template let-symptomName="item"> 
                                           <AbsoluteLayout width="350" height="210">
                                                <Label height="25" left="65" top="8" width="350" textwrap="true" class="symptom" text="{{symptomName}}"></Label>
                                                <Switch left="5" top="4" checked="{{userGraphedSymptoms[symptomName]}}" (checkedChange)="onGraphedSymptomChange(symptomName, $event)"></Switch>
                                           </AbsoluteLayout>
                                        </ng-template>
                                        </ListView>
                            </Scrollview>
                            <Button  height = "50"   class="saveButton" text="Save Changes" (tap)="saveToAppStore()" ></Button>

                        </StackLayout>
                    <!-- <ListView height="400" [items]="userSymptoms">
                            <ng-template let-symptom="item">
                                    <AbsoluteLayout height="100" width="370">
                                            This isn't working right now, need to add stuff to TS file
                                            <Switch checked="{{symptom.dailySymptoms}}" (checkedChange)="onCheckedChange($event)" ></Switch>
                                            <Label textwrap="true" left="50" top="10" width="300" text="{{symptom.dailySymptoms.seriesName}}"></Label>
                                    </AbsoluteLayout>
                            </ng-template>
                    </ListView> -->
            </StackLayout>
        </CardView>
    </StackLayout>
</GridLayout>