.saveButton{
    margin: 10;
    background-color: rgb(133, 221, 245);
    border-radius:10; 
    }
    
.card-title{
    color: black;
    font-size: 18;
    margin-bottom: 5;
    margin-left: 5;
    margin-top: 5;
}
.card-title2{
    color: black;
    font-size: 18;
    margin-bottom: 12;
    margin-left: 20;
    margin-top: 13;
}
.last-updated{
    color: white;
    font-weight: bold;
    margin-left: 25;
    margin-top: 15;
    margin-bottom: 5;

}

.home-panel1 {
    padding-left: 60px;
    padding-right:60px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.select{
    color:black;
    text-decoration: underline;
    font-size: 14;
    margin-bottom: 10;
}

.trendDownPercent{
    font-size: 14;
}
.trendDownPercent{
    font-size: 14;
    font-weight:bold;
    color: green;
}
.trendUpPercent{
    font-size: 14;
    font-weight:bold;
    color: red;
}
.space{
    font-size:4;
}
.space1{
    font-size:4;
}
.space3{
    font-size:2;
}
.legend{
    font-size:4;
}
