<GridLayout class="page appBackgroundColor">
    <Scrollview>
    <StackLayout class="home-panel1">
    
        <Label class="last-updated" text="Last updated: mm/dd/yyyy"></Label>
        <CardView class="cardStyleProfile" margin="3" elevation="40" radius="40">
            <StackLayout class="home-panel">
                <Label class="card-title2" text="Significant Trends"></Label>
                <AbsoluteLayout> 
                        <Image left="5" src="~/app/images/trendDown.png" height="45" width="45" class="image"> </Image>
                        <Label left="55" width="230" top="12" class="trendSymptom" textWrap="true" text="Lack of motivation"></Label>
                        <Label left="290" top="12" class="trendDownPercent" text="80%"></Label>
                </AbsoluteLayout>
                <AbsoluteLayout> 
                        <Image left="5" src="~/app/images/trendUp.png" height="45" width="45" class="image"> </Image>
                        <Label left="55" width="230" top="12" class="trendSymptom" textWrap="true" text="Inability to cope with daily problems"></Label>
                        <Label left="290" top="12" class="trendUpPercent" text="70%"></Label>
                </AbsoluteLayout>
                <AbsoluteLayout> 
                        <Image left="5" src="~/app/images/noTrend.png" height="45" width="45" class="image"> </Image>
                        <Label left="55" width="230" top="12" class="trendSymptom" textWrap="true" text="No significant trends"></Label>
                </AbsoluteLayout>
                <Label  class="space" text=""></Label>
            </StackLayout>
        </CardView>
        <Label  class="space1" text=""></Label>

        <CardView class="cardStyleProfile" margin="3" elevation="40" radius="40">
            <StackLayout class="home-panel1">
                  <Label class="card-title" text="Weekly Overview"></Label>

                <RadCartesianChart tkExampleTitle tkToggleNavButton height="250" >
                    
                    <CategoricalAxis tkCartesianHorizontalAxis lineThickness = "1" labelTextColor="#A2A0A0" labelMargin = "40"></CategoricalAxis>
                    <LinearAxis tkCartesianVerticalAxis MajorGridLinesVisibility="Visible" labelFormat="%.0f" labelTextColor="#A2A0A0" minimum="0" maximum="10" majorStep = "2" lineThickness = "1" labelMargin = "20" ></LinearAxis>
                    <SplineSeries tkCartesianSeries legendTitle = "data" selectionMode ="Series" seriesName = "data" [items]="data" categoryProperty="day" valueProperty="num" >
                            <Palette tkCartesianPalette seriesName="data">
                                    <PaletteEntry tkCartesianPaletteEntry fillColor="#F57439" strokeColor="#F57439"></PaletteEntry>
                            </Palette>
                    </SplineSeries>
                    <SplineSeries tkCartesianSeries legendTitle = "data2" selectionMode ="Series" seriesName = "data2" [items]="data2" categoryProperty="day" valueProperty="num">
                            <Palette tkCartesianPalette seriesName="data2">
                                    <PaletteEntry tkCartesianPaletteEntry fillColor="#56D9FE" strokeColor="#56D9FE"></PaletteEntry>
                            </Palette>
                    </SplineSeries>
                    <RadCartesianChartGrid tkCartesianGrid horizontalLinesVisible="true">  </RadCartesianChartGrid>
                    <RadLegendView tkCartesianLegend enableSelection = true title = "Legend"></RadLegendView>
                        
                </RadCartesianChart>
            </StackLayout>
        </CardView>
        <Label  class="space1" text=""></Label>

        <CardView class="cardStyleProfile" margin="3" elevation="40" radius="40">
            <StackLayout class="home-panel1">
                    <Label class="select" text="Select symptoms to plot above."></Label>
                    <!-- <ListView height="400" [items]="userSymptoms">
                            <ng-template let-symptom="item">
                                    <AbsoluteLayout height="100" width="370">
                                            This isn't working right now, need to add stuff to TS file
                                            <Switch checked="{{symptom.dailySymptoms}}" (checkedChange)="onCheckedChange($event)" ></Switch>
                                            <Label textwrap="true" left="50" top="10" width="300" text="{{symptom.dailySymptoms.seriesName}}"></Label>
                                    </AbsoluteLayout>
                            </ng-template>
                    </ListView> -->
            </StackLayout>
        </CardView>

    </StackLayout>
    </Scrollview>
</GridLayout>